.a1{
    position: absolute;
    width: 813px;
    height: 152px;
    left: 65px;
    top:170px;
    
    font-family: cursive;
    font-style: normal;
    font-weight: 1000;
    font-size: 25px;
    line-height: px;
    
    color: black;
}
.bat1{
    background-color:white;
    padding: 15px 20px;
    border: none;
    opacity: 0.9;
    position: absolute;
    width: 1900px;
    height: 250px;
    left: 0px;
    top: 1000px;
}
.border10 img {
    position: absolute;
    height: 500px;
    width: 500px;
    margin-top: -0px;
    bottom: -50px;
    margin-left: 1000px;
}